/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.features {
  background-color: var(--ifm-background-surface-color);
}

.applications {
    @media (max-width: 996px) {
        --ifm-col-width: 50% !important;
        flex-basis: var(--ifm-col-width);
        margin-left: 0;

        max-width: var(--ifm-col-width);
    }
}

.button {
  display: inline-flex;
  align-items: center;
  margin: 3rem 0 3rem;
}
